<div id="introBubble" class="rounded_panel txt_lightgrey">
	<div class="top-rounded-panel grey-bg">
		<h1 id="user-intro">Introduction &amp; Background</h1>
	</div>
	<div class="content-rounded-panel">
		<div id="introBlurb">
			I am a Year 2 NUS student majoring in Computer Engineering. The modules that NUS provided has equipped me with the relevant knowledge and skillsets to tackle problems relating to software and even the hardware aspects <br/><br/>
			In addition, I have took part in competitions and external projects that enabled me to pick up skills outside of the NUS curriculum to be of use to the companies that I work under.
		</div>
		<button type="button" class="btn btn-primary"></button>
		<br>
	</div>
</div>
